.section-about {
    background-color: $color-primary;
    height: 92vh;
    color: $color-white;
    display: inline-block;
    width: 100%;


    h1 {
        font-size: 3rem;
        margin-left: 6rem;
        margin-top: 4rem;
        font-weight: 100;
 
    }

    &-content {
        display: flex;

        p {
            width: 73.6rem;
            height: 37rem;
            margin-left: 12rem;
            margin-top: 3rem;
    
            font-size: 2rem;
            line-height: 3.5rem;
            font-weight: 100;
    
        }
    
        img{
            width: 48rem;
        }
    }

}